<a href="https://colab.research.google.com/github/alexjohnson21/ubiquitous-sniffle/blob/master/cse450_prove03_part02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn import preprocessing as pp
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [296]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Read auto-mpg.data into array for preprocessing

In [297]:
auto = pd.read_csv("/content/drive/My Drive/prove03_data/auto-mpg.data", header=None, na_values="?", delim_whitespace=True)
auto.head(5)

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

# Add headers
From the hosting website

In [298]:
auto.columns = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"]
auto.head(5)

    mpg  cylinders  displacement  ...  model_year  origin                   car_name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

## Determine the number of and handle missing values

In [299]:
auto.isna().sum(axis=0)

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [300]:
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
auto[["horsepower"]] = imputer.fit_transform(auto[["horsepower"]])

auto.isna().sum(axis=0)

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

## Train, test, split

In [0]:
auto = pd.get_dummies(auto, columns=auto[["car_name"]].columns)

In [0]:
features = auto.drop("mpg", axis=1)
features = features.to_numpy()

targets = auto.mpg.to_numpy()

In [0]:
train_features, test_features, train_targets, test_targets = train_test_split(features, targets, test_size=.3)

## Create, train, and test a kNN Classifier

In [304]:
train_features

array([[  8., 307., 130., ...,   0.,   0.,   0.],
       [  3.,  70.,  90., ...,   0.,   0.,   0.],
       [  6., 171.,  97., ...,   0.,   0.,   0.],
       ...,
       [  4., 120.,  97., ...,   0.,   0.,   0.],
       [  6., 200.,  85., ...,   0.,   0.,   0.],
       [  8., 429., 208., ...,   0.,   0.,   0.]])

In [0]:
knnClassifier = KNeighborsClassifier(n_neighbors=5)
knnClassifier.fit(train_features, train_targets)

In [0]:
class_predictions = knnClassifier.predict(test_features)

accuracy_score(test_targets, class_predictions)

Clearly I'm doing something wrong with my dataset because my accuracy tends to be somewhere around 0.025. If I have time this week, I may come back and investigate why my classifier does not work as expected.